<div class="modal fade" id="help" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Manual de uso</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Para usar la aplicación, siga los siguientes pasos:</p>
        <ol>
          <li>Suba una imagen frontal de la persona</li>
          <li>Suba una imagen lateral de la persona</li>
          <li>Suba la imagen objetivo de la persona</li>
          <li>Presione el botón "Calcular parentezco"</li>
          <li>Si desea guardar su modelo presione save</li>
          <li>Busque su modelo mediante el dropdown model</li>
        </ol>
        <p>Nota: Intente sobreponer el rostro a los puntos, evitando en lo posible alterar el esquema original.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>